In [1]:
import pandas as pd
import numpy as np
import scipy
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import sklearn

In [2]:
# Importing data from csv files
data = pd.read_csv("https://docs.google.com/spreadsheets/d/1PVUH65sonHSI-g7JSdLlTzpXdtkAx77gJ0NfVCQcq6A/export?gid=547974534&format=csv")
data

     SAT   GPA  Rand 1,2,3
0   1714  2.40           1
1   1664  2.52           3
2   1760  2.54           3
3   1685  2.74           3
4   1693  2.83           2
..   ...   ...         ...
79  1936  3.71           3
80  1810  3.71           1
81  1987  3.73           3
82  1962  3.76           1
83  2050  3.81           2

[84 rows x 3 columns]